:root {
    --light-blue: #00afce;
    --white: #ffffff;
    --green: rgb(0, 87, 88);
    --lightgrey: #f6f6f6;
    --darkgrey: #D3D3D3;
    --yellow: yellow;
}

* {
    font-family: Arial, Helvetica, sans-serif !important;
}

.z-index1 {
    z-index: 1;
}


body {
    background-color: #ffffff !important;
}

section {
    width: 100%;
}

p {
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--green) !important;
    font-weight: bold;
}


h1 {
    font-size: 36px !important;
    line-height: 40px !important;
    font-weight: normal;
    margin: 3rem 0;
}

h2 {
    font-size: 32px !important;
    margin: 3rem 0;
}

h3 {
    font-size: 22px !important;
}

h4 {
    font-size: 24px !important;
}

h5 {
    font-size: 18px !important;
}

/* Font Sizes */

.font18 { font-size: 18px !important; }
.font19 { font-size: 19px !important; }
.font20 { font-size: 20px !important; }
.font21 { font-size: 21px !important; }
.font36 { font-size: 36px !important;
          line-height: 40px !important;}
.font42 { font-size: 42px !important; }
.font58 { font-size: 58px !important; }

/* Font Sytles*/
.bold {
    font-weight: 700 !important;
}


/* Widths */
.width20 { width: 30% !important; }
.width30 { width: 30% !important; }
.width40 { width: 40% !important; } 
.width50 { width: 50% !important; }
.width60 { width: 60% !important; }
.width70 { width: 70% !important; }
.width80 { width: 80% !important; }
.width90 { width: 90% !important; }
.width100 { width: 100% !important;}

/* Colours and Filters */

.color-blue {  color: var(--light-blue) !important; }
.color-white { color: var(--white) !important; }
.color-green { color: var(--green) !important; }
.colot-yellow { color: var(--yellow) !important;}

.bg-green {     background-color: var(--green) !important; }    
.bg-black {     background-color: #071018 !important; }
.bg-blue {      background-color: var(--light-blue) !important; }
.bg-darkgrey {  background-color: var(--darkgrey) !important; }
.bg-lightgrey { background-color: var(--lightgrey); }

.green-filter {
    filter: invert(24%) sepia(13%) saturate(6066%) hue-rotate(154deg) brightness(96%) contrast(101%);
}

.invert {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%);
}


/* Alignment */

.center-img,
.center-content { margin: auto !important;}

.text-center { text-align: center!important; }
.text-left   { text-align: left!important; }
.text-right  { text-align: right!important; }

.self-align-right { align-self: flex-end;} 
.self-align-left  { align-self: flex-start;} 

.itmes-align-center { align-items: center;}



/* Padding */

.padt-10 { padding-top: 10px; }
.padt-30 { padding-top: 30px; }
.padt-50 { padding-top: 50px; }
.padt-80 { padding-top: 80px; }
.padt-100 { padding-top: 100px; }

.padb-10 { padding-bottom: 10px; }
.padb-30 { padding-bottom: 30px; }
.padb-50 { padding-bottom: 50px; }
.padb-80 { padding-bottom: 80px; }
.padb-100 { padding-bottom: 100px; }

.padl-10 { padding-left: 10px; }
.padl-30 { padding-left: 30px; }
.padl-50 { padding-left: 50px; }
.padl-80 { padding-left: 80px; }
.padl-100 { padding-left: 100px; }

.padr-10 { padding-right: 10px; }
.padr-30 { padding-right: 30px; }
.padr-50 { padding-right: 50px; }
.padr-80 { padding-right: 80px; }
.padr-100 { padding-right: 100px; }

/* Spacer Block Divs */

[class^="spacer-"] {
    width: 100%;
}
.spacer-10 { padding: 5px 0; }
.spacer-30 { padding: 15px 0; }
.spacer-50 { padding: 25px 0; }
.spacer-100 {padding: 50px 0;}


/* Containers */

/* Main container width to force no mobile styles */
.main-container {
    min-width: 1200px !important;
    max-width: 1400px !important;
    margin: auto;
    padding-bottom: 50px;
}

.content-container {
    display: block;
    margin: auto !important;
    min-width: 1200px !important;
    width: 1200px !important;
    max-width: 1200px !important
}



/***************
    BLOCKS
*****************/


/*Hero Image Block*/
/**********************************************/

.hero-image-block,
.hero-image-block img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* INTRO SECTION Block*/
/**********************************************/

.intro-section {
    display: block;
    padding: 2rem 0;
    color: var(--green) !important;
}


/* Text Block */
/**********************************************/

.text-block h2 {
    margin-bottom: .5rem;
}



/* COLUMN BLOCKS */
/**********************************************/

[class^="row-col"] {
    display: grid;
    justify-content: center;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    color: #696969;
    padding-left: 0 !important; /*overide*/
    margin-left: 0 !important; /*overide*/
}

/* 3 Columns */
.row-col--2 {
  grid: 1fr / repeat(2, calc((1200px / 2) - 1.3rem));
 gap: 2rem;
}

/* 3 Columns */
.row-col--3 {
    grid: 1fr / repeat(3, calc((1200px / 3) - 1.3rem));
    gap: 2rem;
}
ul.row-col--3 li p {
    line-height: 24px;
}

/* 4 Columns */
.row-col--4 {
    grid: auto / repeat(4, calc((1200px / 4) - 1.3rem));
    gap: 2rem;
}

/* 6 Columns */
.row-col--6 {
    grid: auto / repeat(6, calc((1200px / 6) - 0.85rem));
    gap: 1rem;
}


[class^="card-container"],
.card-container {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

.card-container__icon,
.card-container__copy {
    margin: 0 auto;
    text-align: center;
}

.card-container__icon img {
    margin: 0 auto;
}

.card-container__copy {
    width: 100%;
    padding: 0 20px;
}

/* Hover style for card */
.card-hover:hover {
    background-color: #e2e2e2 !important;
}



/* Card Grids (no copy - icon and title) Block*/
/**********************************************/

.card-container--grid {
    padding: 25px;
    justify-content: center;
    background-color: #EBEBEB !important;
}
.card-container--grid h3 {
    margin-top: 1rem;
    margin-bottom: unset !important;
    min-height: 52px;
}


/* Logo Grid Block */
/**********************************************/

.logo-grid-card img {
    padding: .25rem !important;
    background-color: var(--lightgrey);
    transition: all .3s ease-in-out; 
}

.logo-grid-card img:hover {
    background-color: #ebebeb; 
    outline: 1px solid var(--light-blue);
    outline-style: dashed;
    outline-offset: -5px;
}

/* Open Grid Block */
/**********************************************/

.open-grid {
    gap: unset;
}

.open-grid-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 3px;
}

li.open-grid-container {
    border-left: 1px solid yellow;
}
li.open-grid-container:nth-child(1),
li.open-grid-container:nth-child(5n+0) {
    border-left: none;
}
li.open-grid-container:nth-child(n+5) {
    border-top: 1px solid yellow;
}


/*CTA - 2 Col Block (Contact Page)*/
/**********************************************/

.cta-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta-col:nth-child(2) {
    border-left: 1px solid yellow;
}

.button {
    display: inline-block;
    padding: 10px 25px;
}

.button--sm {
    padding: 5px 15px;
}

.button--white {
    background-color: transparent;
    border: 2px solid var(--white);
}
.button--green {
    background-color: transparent;
    border: 2px solid var(--green);
}
.button--yellow {
    background-color: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow) !important;
}


/* Top Dash Block
***********************************/

.top-dash-block--blue {
    border-top: 2px solid var(--light-blue);
    border-top-style: dashed;
}
.top-dash-block--green {
    border-top: 2px solid var(--green);
    border-top-style: dashed;
}


[class^="top-dash-block"] > [class^="heading-block"] > h2 {
    margin: .8rem 0 1.5rem !important;
}

/* Resources List*/

ul.resources-list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
ul.resources-list li {
    display: inline-block;
    background-color: var(--lightgrey);
    padding: 5px 15px;
    margin-right: 5px;
}


/* Page Specific Styles */
/**********************************************/

/* Contact Page */
.contact-regions-grid ul.row-col--3{
    gap: 5rem !important;
}

